.bold{
    font-weight: 900;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: lightslategray;
}

.class{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 500px;
    border-style: solid;
    border-color: lightseagreen;
    border-width: 2px;
    align-self: center;
    flex-wrap: wrap;
    margin-top: 38px;
}

body{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: lightgoldenrodyellow;
}

.color-picker{
    display: flex;
    margin-left: 50px;
}

.clear , .random{
    flex-direction: row;
    height: 50px;
    width: 100px;
    align-self: center;
    background-color: lightseagreen;
}

.buttons{
    display: flex;
    gap: 50px;
    justify-content: center;
}